body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(4, 2, 33);
  background: linear-gradient(
    180deg,
    rgba(4, 2, 33, 1) 19%,
    rgba(9, 9, 76, 1) 73%
  );
}
.timerContainer {
  display: flex;
  flex-direction: row;
}
.tsag {
  font-size: 100px;
  width: 144px;
  color: #e0e0ff;
  text-align: center;
  font-weight: 800;
}
.temdeg {
  font-size: 100px;
  color: #e0e0ff;
  font-weight: 800;
}
.stopwatchContainer {
  margin-top: -200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  border: 5px solid #e0e0ff;
  background-color: transparent;
  color: #e0e0ff;
  width: 150px;
  height: 50px;
  font-size: 25px;
  margin: 10px;
}
.resetButton {
  border: 5px solid #e0e0ff;
  background-color: transparent;
  color: #e0e0ff;
  width: 150px;
  height: 50px;
  font-size: 25px;
}
