.preventSelection {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
@media screen and (max-width: 840px) {
  .container {
    margin-top: 100px;
  }
  .resGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    padding: 20px;
  }
  img {
    border-radius: 10px;
  }
  .gridContainer {
    height: calc((100vw - 50px) / 3 * 4);
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .preventSelection {
    height: calc((100vw - 50px) / 3);
  }
}
@media screen and (min-width: 841px) {
  .resGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
  }
  .container {
    align-items: center;
  }
  img {
    border-radius: 20px;
  }
  .preventSelection {
    height: 200px;
    width: 200px;
  }
  .gridContainer {
    height: 620px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
