@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Lobster&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
body {
  margin: 10px;
}
.homePageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  flex: 1;
  flex-direction: column;
}
.boginoologo {
  color: #02b589;
  font-family: "Lobster";
  font-size: 56px;
}
button {
  padding: 10px;
}
.containedbutton {
  font-family: "Mulish";
  border-radius: 50px;
  background-color: #02b589;
  border: 0px;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  height: 44px;
  width: 190px;
}
.button {
  font-family: "Mulish";
  background-color: #fff;
  color: #02b589;
  border: 0px;
  font-weight: 800;
  font-size: 20px;
}
.logoPicContainer {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logoPicContainer:hover {
  width: 120px;
}
.logocontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  border: 0px;
  border-radius: 100px;
  padding-left: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.urlinput {
  width: 581px;
  height: 40px;
}
.signupinput {
  width: 250px;
  height: 40px;
}
.footer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
input[type="password"] {
  font-family: Verdana;
  letter-spacing: 0.125em;
}
.signupcontainer {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.buttonsigup {
  width: 272px;
  margin: 20px;
}
.formContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin: 20px;
}
@media screen and (max-width: 820px) {
  body {
    width: 100vw;
    height: 100vh;
    margin: 0;
  }
  .formContainer {
    display: flex;
    flex-direction: column;
  }
  .urlinput {
    width: 70vw;
  }
  .headercontainer {
    margin-top: 10px;
    padding-right: 10px;
  }
  .button {
    font-size: 0.7em;
  }
  .medkuenegbutton {
    font-size: 0.7em;
  }
  .containedbutton {
    font-size: 0.7em;
    width: 100px;
    height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration: none;
  }
  .logocontainer {
    width: 100px;
  }
}
